In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from pandas import DataFrame

In [12]:
def create_document_term_matrix(message_list, vectorizer):
    doc_term_matrix = vectorizer.fit_transform(message_list)
    return DataFrame(doc_term_matrix.toarray(), 
                     columns=vectorizer.get_feature_names())

In [13]:
msg_1 = ["My name is ABCD",
        "I want to learn NLP"]

In [14]:
count_vect = CountVectorizer()

In [15]:
create_document_term_matrix(msg_1, count_vect)

/Users/tamanna/opt/anaconda3/envs/tf/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   abcd  is  learn  my  name  nlp  to  want
0     1   1      0   1     1    0   0     0
1     0   0      1   0     0    1   1     1

# TF-IDF

## Term Frequency (tf)

$$
t f_{i, j}=\frac{n_{i, j}}{\sum_{k} n_{i, j}}
$$

## Inverse Data Frequency (idf)

$$
i d f(w)=\log \left(\frac{N}{d f_{t}}\right)
$$

In [6]:
msg_2 = ["ABCD is my name",
         "ABCD likes NLP"]

In [7]:
tfidf_vect = TfidfVectorizer()

In [8]:
create_document_term_matrix(msg_2, tfidf_vect)

/Users/tamanna/opt/anaconda3/envs/tf/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abcd,is,language,likes,my,name,programming,python
0,0.379978,0.534046,0.000000,0.000000,0.534046,0.534046,0.000000,0.000000
1,0.335176,0.000000,0.471078,0.471078,0.000000,0.000000,0.471078,0.471078

In [9]:
msg_3 = ["ABCD ABCD is my name",
         "ABCD likes NLP"]

In [10]:
create_document_term_matrix(msg_3, tfidf_vect)

/Users/tamanna/opt/anaconda3/envs/tf/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abcd,is,language,likes,my,name,programming,python
0,0.634809,0.446101,0.000000,0.000000,0.446101,0.446101,0.000000,0.000000
1,0.335176,0.000000,0.471078,0.471078,0.000000,0.000000,0.471078,0.471078

In [0]:
msg_4 = ["ABCD ABCD ABCD is my name",
         "I like NLP"]

In [0]:
create_document_term_matrix(msg_4, tfidf_vect)

    bhavesh        is  language  like        my      name  programming  python
0  0.866025  0.288675       0.0   0.0  0.288675  0.288675          0.0     0.0
1  0.000000  0.000000       0.5   0.5  0.000000  0.000000          0.5     0.5